/*#############################################################################*/
/*############################ ADAPTIVE CONTAINERS ############################*/
/*#############################################################################*/


/*###############################*/
/*####### MOBILE-DEFAULT #######*/
/*#############################*/

/* Five Pilars */
.pilars div{
  margin-top: 5%;
}

.pilars h4 {
  text-transform: capitalize;
  font-family: 'Teko Medium', sans-serif;
}

/*Center number icons in mobile view
.pilars .keypoint-number {
  margin-left: calc(50% - 30px);
} */


/* Meet the Team */
.team-tier1 {
  margin: 0;
}
.img-div{
  overflow: hidden;
  padding: 0;
}

.txt-div {
  padding: 8%;
  margin-bottom: 20px;
}

img.team-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-tier2 {
  margin: 0 1%;
}

.team-tier2 div {
  padding-top: 20px;
}

/* History */
.history-year {

}
.history-year p{
  display: inline-block;
  width: 140px;
  height: 140px;
  border-radius: 90px;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Teko', sans-serif;
  border: solid 1px #FFC200;
  color: #000;
  background-color: #FFF;
  text-align: center;
  padding-top: 35px;
  margin-left: calc(50% - 70px);
  margin-top: 10px;
  margin-bottom: 10px;
}

.history-line {
  border-right: solid 1px #000;
  height: 60px;
}

.history-text {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.history-text p.p-large {
  font-size: 12px;
}


/*###############################*/
/*####### SMALL DEVICES ########*/
/*#############################*/
/* landscape phones, 576px and up */
@media only screen and (min-width: 576px) {



}


/*###############################*/
/*####### MEDIUM DEVICES #######*/
/*#############################*/
/* tablets, 768px and up */
@media only screen and (min-width: 768px) {

/* Five Pilars */
.pilars .keypoint-number {
  margin-left:inherit;
}

.txt-div {
  margin-bottom: 50px;
}

.history-text p.p-large {
  font-size: 16px;
}

}


/*###############################*/
/*####### LARGE DEVICES #######*/
/*#############################*/
/* desktops, 992px and up */
@media only screen and (min-width: 992px) {

.txt-div {
  margin-bottom: 0;
}

.team-tier2 {
  margin: 50px 1%;
}

}


/*####################################*/
/*####### EXTRA LARGE DEVICES #######*/
/*##################################*/
/* large desktops, 1440px and up */
@media only screen and (min-width: 1440px) {



}
