/*###############################*/
/*####### MOBILE-DEFAULT #######*/
/*#############################*/
.category-title {
  font-family: Teko, sans-serif;
  font-size: 22px;
  color: #232A2E;
}

li.category-item a {
  border-bottom: none;
}

li.category-item span.badge-pill {
  background-color: #CCC;
  padding: 0.6em 0em;
  height: 22px;
  width: 22px;
}

.outer-blogbox {
  margin-bottom: 30px;
}

.blogbox {
  padding: 0;
}

.textDiv {
  padding: 0;
  height: 450px;
}

.imageDiv {
  padding: 0;
  height: 160px;
}

.textDivChild {
  padding: 30px;
  height: 100%;
}

.textDivChild a {
  border-bottom: none;
}

.imageDivChild {
  padding: 0;
  height: 100%;
  background: none;
}

.fw .textDivChild, .hw2 .textDivChild {
  background-color: #3A3F40;
  color: #fff;
}

.fw .textDivChild .post-date a, .fw .textDivChild h2 a, .fw .textDivChild .post-summary a, .fw .textDivChild .sns-buttons a, .hw2 .textDivChild .post-date a, .hw2 .textDivChild h2 a, .hw2 .textDivChild .post-summary a, .hw2 .textDivChild .sns-buttons a {
  color: #fff;
}

.fw .post-link, .hw2 .post-link {
  color: #fff;
}

.hw1 .textDivChild {
  background-color: #fff;
  color: #232A2E;
}

.hw1 .textDivChild .post-date a, .hw1 .textDivChild h2 a, .hw1 .textDivChild .post-summary a, .hw1 .textDivChild .sns-buttons a {
  color: #232A2E;
}

.hw1 .post-link {
  color: #232A2E;
}

.post-category a {
  color: #ffc200;
}

a.post-link {
  border-bottom: none;
  font-weight: bold;
  position: relative;
  top: 16px;
}

a.post-link i.fa {
  color: #FFC200;
  -webkit-transition: margin-left 0.18s ease;
  transition: margin-left 0.18s ease;
}

a.post-link:hover i.fa {
  margin-left: 5px;
}

.post-category, .post-date, .post-summary {
  font-family: 'Ubuntu', sans-serif;
}

.textDivChild h2 {
  font-family: 'Teko', sans-serif;
  font-size: 32px;
}

.post-category {
  text-transform: uppercase;
}

.post-date {
  color: #ccc;
  font-size: small;
}

.post-summary {
  display: initial;
}

.sns-buttons {
  position: absolute;
  bottom: 30px;
  left: 30px;
  -webkit-transition: bottom 0.18s ease, left 0.18s ease;
  transition: bottom 0.18s ease, left 0.18s ease;
}

.sns-buttons i.fa {
  opacity: 1;
}

/*###############################*/
/*####### SMALL DEVICES ########*/
/*#############################*/
/* landscape phones, 576px and up */
/*###############################*/
/*####### MEDIUM DEVICES #######*/
/*#############################*/
/* tablets, 768px and up */
@media only screen and (min-width: 768px) {
  .outer-blogbox {
    margin-bottom: 10px;
  }
  .blogbox {
    height: 450px;
  }
  .textDiv {
    height: unset;
    padding: 10px 0 10px 10px;
    -webkit-transition: padding 0.18s ease;
    transition: padding 0.18s ease;
  }
  .textDiv.noimage {
    padding-right: 10px;
  }
  .imageDiv {
    height: 100%;
    padding: 0px;
  }
  .textDivChild {
    -webkit-transition: padding 0.18s ease;
    transition: padding 0.18s ease;
  }
  .imageDivChild {
    border-top: solid 10px #f8f8f8;
    border-right: solid 10px #f8f8f8;
    border-bottom: solid 10px #f8f8f8;
    -webkit-transition: border 0.18s ease;
    transition: border 0.18s ease;
  }
  .sns-buttons i.fa {
    opacity: 0;
  }
  .sns-buttons i.fa-facebook-official {
    -webkit-transition: opacity 0.18s ease 0.10s;
    /* For Safari 3.1 to 6.0 */
    transition: opacity 0.18s ease 0.10s;
  }
  .sns-buttons i.fa-twitter {
    -webkit-transition: opacity 0.18s ease 0.15s;
    /* For Safari 3.1 to 6.0 */
    transition: opacity 0.18s ease 0.15s;
  }
  .sns-buttons i.fa-google-plus-official {
    -webkit-transition: opacity 0.18s ease 0.20s;
    /* For Safari 3.1 to 6.0 */
    transition: opacity 0.18s ease 0.20s;
  }
  .sns-buttons i.fa-envelope {
    -webkit-transition: opacity 0.18s ease 0.25s;
    /* For Safari 3.1 to 6.0 */
    transition: opacity 0.18s ease 0.25s;
  }
  .blogbox:hover .textDiv {
    padding: 0;
  }
  .blogbox:hover .textDivChild {
    padding: 40px 30px 40px 40px;
  }
  .blogbox:hover .imageDivChild {
    border: solid 0px #f8f8f8;
  }
  .blogbox:hover .sns-buttons {
    bottom: 40px;
    left: 40px;
  }
  .blogbox:hover .sns-buttons i.fa {
    opacity: 1;
  }
  .shadowbox {
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    top: 10px;
    left: 10px;
    -webkit-transition: box-shadow 0.60s ease-out, width 0.18s ease-out, height 0.18s ease-out, top 0.18s ease-out, left 0.18s ease-out;
    /* For Safari 3.1 to 6.0 */
    transition: box-shadow 0.60s ease-out, width 0.18s ease-out, height 0.18s ease-out, top 0.18s ease-out, left 0.18s ease-out;
  }
  .blogbox:hover .shadowbox {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  }
}

/*###############################*/
/*####### LARGE DEVICES #######*/
/*#############################*/
/* desktops, 992px and up */
@media only screen and (min-width: 992px) {
  .post-summary {
    display: none;
  }
}

/*####################################*/
/*####### EXTRA LARGE DEVICES #######*/
/*##################################*/
/* large desktops, 1440px and up */
@media only screen and (min-width: 1440px) {
  .post-summary {
    display: initial;
  }
}
