/*Top level styles*/
body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #e3e3e3;
    font-size: 14px;
    line-height: 1.75;
    color: #303030;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Teko', sans-serif;
    margin-bottom: 25px;
}

h1 { font-size: 60px; }
h2 { font-size: 48px; }
h3 { font-size: 36px; }
h4 { font-size: 24px; }
h5 { font-size: 18px; font-weight: bold; }
h6 { font-size: 16px; font-weight: bold; }

h1.alt, h2.alt, h3.alt, h4.alt, h5.alt, h6.alt {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}

.text-upper { text-transform: uppercase; }
.text-caps { text-transform: capitalize; }

.hline::after {
    content: '';
    display:block;
    background-color: #FFC200;
    width: 100px;
    height: 4px;
    margin-top: 5px;
}
.hline-center::after {
    content: '';
    display:block;
    background-color: #FFC200;
    width: 100px;
    height: 4px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}
.hline-right::after {
    content: '';
    display:block;
    background-color: #FFC200;
    width: 100px;
    height: 4px;
    margin-top: 5px;
    margin-left: auto;
}

a:link, a:visited { color: #303030; border-bottom: solid 2px #FFC200; text-decoration: none; }
a:hover, a:active, a:focus { color: #FFC200; border-bottom: solid 2px rgba(255, 255, 255, 0); text-decoration: none; }

.btn { font-family: 'Teko', sans-serif; text-transform: uppercase; border-radius: 2px; }

button.btn-primary, a.btn-primary { background-color: #FFC200; border: none; color: #fff; }
button.btn-secondary, a.btn-secondary { background-color: #fff; border-color: #eee; color: #999; }
button.btn-success, a.btn-success { background-color: #3BC0D9; border: none; color: #fff; }
button.btn-info, a.btn-info { background-color: #C2E5D3; border: none; color: #fff; }
button.btn-warning, a.btn-warning { background-color: #622896; border: none; color: #fff; }
button.btn-danger, a.btn-danger { background-color: #F83346; border: none; color: #fff; }

button.btn-link, a.btn-link {
    color: #76797A;
    text-decoration: none;
    padding: 0;
    border-bottom: solid 2px #FFC200;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 30px;
}

button.btn-link:hover, button.btn-link:focus, button.btn-link:active, a.btn-link:hover, a.btn-link:focus, a.btn-link:active { color: #76797A; text-decoration: none; border-bottom: solid 2px rgba(255, 255, 255, 0); }

.btn-primary:hover, .btn-primary:focus { color: #303030; background-color: #FFC200; border: none; box-shadow: 0 0 0 2px rgba(255, 194, 0, 0.5); }
.btn-secondary:hover, .btn-secondary:focus { color: #000; background-color: #F4F4F4; border-color: #eee; box-shadow: 0 0 0 2px rgba(244, 244, 244, 0.5); }
.btn-success:hover, .btn-success:focus { color: #303030; background-color: #00A3C7; border: none; box-shadow: 0 0 0 2px rgba(0, 163, 199, 0.5); }
.btn-info:hover, .btn-info:focus { color: #303030; background-color: #A6D9BF; border: none; box-shadow: 0 0 0 2px rgba(166, 217, 191, 0.5); }
.btn-warning:hover, .btn-warning:focus { color: #303030; background-color: #1C0067; border: none; box-shadow: 0 0 0 2px rgba(28, 0, 103, 0.5); }
.btn-danger:hover, .btn-danger:focus { color: #303030; background-color: #F83346; border: none; box-shadow: 0 0 0 2px rgba(248, 51, 70, 0.5); }

/*Site containers*/
.site-container {
    padding: 0;
}


/*Main Navigation*/
.navbar {
    margin: 0 auto;
    padding: 0;
}

.nav-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

a.home-link {
    border: none;
    width: auto;
    height: 100%;
}

.brand-div {
    background-image: url("../images/ibs-logo.png");
    background-position: bottom 0 left 10px;
    background-repeat: no-repeat;
    background-size: auto 70px;
    height: 72px;
}

.brand-div>p {
    visibility: hidden;
}

.navi-div {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

div.phone-login {
    border-bottom: #424E56 thin ridge;
    margin-bottom: 16px;
    padding: 6px 0;
}

div.phone-login .callus {
    padding: 0 5px;
    /*text-align: center;*/
}

div.phone-login .logindiv {
    padding: 0;
    text-align: left;
}

.navbar-inverse .navbar-text {
    color: #fff;
    display: none;
    line-height: 1;
}

.phone-login>div>.navbar-text {
    font-family: 'Teko', sans-serif;
    font-size: 22px;
}

.login-form {
    width: 100%;
    /*margin: 0;
    padding: 0;*/
}

.form-div {
    width: 100%;
    margin: 0;
    /*padding: 0;*/
}

.form-div>div {
    padding: 0;
    padding-left: 15px;
}

.login-form .form-control {
    color: #fff;
    background-color: #3C484F;
    padding: 6px 8px;
    width: auto;
    max-width: 160px;
    height: 32px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 2px;
    border-color: #293136;
    font-size: .8rem;
}

.form-div>div>.btn {
    margin: 4px 0;
    border: none;
    padding: 5px 5px;
    color: #FFC200;
    background-color: rgba(35, 42, 46, 0);
    line-height: 14px;
    font-size: 18px;
}

.navigation-cta {
    padding-bottom: 16px;
}

.navigation-cta div.navi-group, .navigation-cta div.cta-button {
    /*margin-left: 0;
    margin-right: 0;*/
    width: 100%;
}

ul.navbar-nav {
    /*margin-bottom: 0;*/
    padding-bottom: 0;
    margin: 14px 0;
}

.navbar-nav li.nav-item {
    margin: 8px 0;
    padding: 0;
}

.navbar-nav li.show {
    background-color: #3A3F40;
    text-align: center;
}

.navbar-nav li.show a.nav-link, .navbar-nav li.show a.nav-link:hover, .navbar-nav li.show a.nav-link:link, .navbar-nav li.show a.nav-link:visited {
    color: #fff;
    text-align: center;
}

.navbar-inverse .navbar-nav .nav-link {
    font-size: 13px;
    color: #fff;
    border: none;
    margin: 0;
    padding: 0;
    text-align: left;
    padding-left: 30px;
}

.navbar-inverse .navbar-nav .nav-link:hover, .navbar-inverse .navbar-nav .nav-link:focus {
    color: #FFC200;
}

.navbar .row .col {
    padding: 0;
}

.products-dropdown {
    position: absolute;
    background-color: #fff;
    border: none;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.prod-col {
    padding: 0 3%;
}

.products-dropdown .prod-category {
    font-family: 'Teko', sans-serif;
    font-size: 24px;
    text-transform: capitalize;
    border: none;
    color: #000;
}

.products-dropdown ul {
    padding: 10px 0 0 0;
    list-style: none;
}

.products-dropdown .prod-item {
    color: #000;
    border: none;
    font-size: 14px;
}

.products-dropdown .prod-item:hover {
    color: #FFC200;
}

.prod-col {
    padding: 0 3%;
}

.products-dropdown div.row {
    margin: 0;
}

.products-dropdown .prod-category {
    font-family: 'Teko', sans-serif;
    font-size: 24px;
    text-transform: capitalize;
    border: none;
    color: #000;
}

hr.product-tabs {
    margin: -1px 0 0 0;
    border-bottom: solid 1px #eee;
}

.products-dropdown ul {
    padding: 10px 0 0 0;
    list-style: none;
}

.products-dropdown .prod-item {
    color: #000;
    border: none;
    font-size: 14px;
}

.products-dropdown .prod-item:hover {
    color: #FFC200;
}

.navigation-cta div.cta-button {
    margin-left: 20px;
}

.nav-cta {
    width: 160px;
    height: 50px;
}

.navbar-inverse .navbar-toggler {
    right: 20px;
    top: 20px;
}

/* TODO: Consolidate footer styles in chrome
         Remove redundant styles from style.css that should only be in chrome.css (eg: footer styles)
         */
/*site content*/
div.main-container {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #fff;
}

.sec-wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
}

.fixed-regular, .fixed-narrow {
    margin: 0 auto;
}

.fixed-regular {
    padding: 100px 0;
}

.fixed-narrow {
    padding: 100px 25px;
}


p.alt {
    font-family: 'Teko', sans-serif;
}

hr.hr-right {
    border: 2px solid #FFC200;
    width: 100px;
    margin-right: 0;
    margin-top: -21px;
    margin-bottom: 30px;
}

hr.hr-left {
    border: 2px solid #FFC200;
    width: 100px;
    margin-left: 0;
    margin-top: -21px;
    margin-bottom: 30px;
}

hr.hr-center {
    border: 2px solid #FFC200;
    width: 100px;
    margin-top: -21px;
    margin-bottom: 30px;
}

hr.hr-thin {
    border: 1px solid #f4d677;
    margin-bottom: 16px;
}

p.p-large {
    font-size: 16px;
}

p.p-larger {
    font-size: 21px;
}

.keypoint-number {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 90px;
    font-size: 38px;
    font-weight: bold;
    font-family: 'Teko', sans-serif;
    color: #FFC200;
    background-color: #333D40;
    text-align: center;
}

.circle-icon {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 90px;
    font-size: 31px;
    font-family: 'Teko', sans-serif;
    color: #FFF;
    background-color: #333D40;
    text-align: center;
}

.circle-icon i {}

a.cta-large {
    min-width: 250px;
    max-width: 310px;
    width: 100%;
    height: 70px;
    padding-top: 20px;
    font-size: 24px;
}

a.cta-arrow {
    width: 212px;
    height: 70px;
    padding-top: 20px;
    font-size: 22px;
}

.color-p {    color: #FFC200; }
.color-se {   color: #F4F4F4; }
.color-su {   color: #00A3C7; }
.color-i {    color: #A6D9BF; }
.color-w {    color: #1C0067; }
.color-d {    color: #F83346; }
.color-white {color: #FFF; }
.color-black {color: #000; }
.color-dkgrey { color: #232A2E; }

.bg-p {      background-color: #FFC200; }
.bg-se {     background-color: #F4F4F4; }
.bg-su {     background-color: #00A3C7; }
.bg-i {      background-color: #A6D9BF; }
.bg-w {      background-color: #1C0067; }
.bg-d {      background-color: #F83346; }
.bg-white {  background-color: #FFF; }
.bg-ltgrey { background-color: #F8F8F8; }
.bg-grey {   background-color: #333D40; }
.bg-dkgrey { background-color: #232A2E; }
.bg-black {  background-color: #000; }


/*#############################################################################*/
/*################################## NAV BAR ##################################*/
/*#############################################################################*/





.navbar-text {
    font-size: 1rem;
}

.navbar-text>a {
    color: #FFC200;
    border: none;
}



.form-div>div>.btn:hover {
    color: #FFC200;
    background-color: rgba(48, 58, 64, 1);
    );
}

.login-form .form-control:focus {
    box-shadow: 0 0 0 2px rgba(255, 194, 0, 0.3);
}

.login-form .form-control::-webkit-input-placeholder {
    color: #728896;
}

.login-form .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #728896;
}

.login-form .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #728896;
}

.login-form .form-control:-ms-input-placeholder {
    color: #728896;
}

.login-form>button {
    color: #FFC200;
}

.navigation-cta>div>ul>li.active>a.nav-link {
    text-transform: uppercase;
    font-weight: bold;
    border: none;
}

.dropdown-menu, .dropdown-item, .dropdown-item:focus, .dropdown-item:hover {
    color: #fff;
    background-color: #FFF;
    font-size: 12px;
    text-transform: capitalize;
    border-radius: 0;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #FFC200;
}

a.dropdown-item {
    border: none;
}

.badge-new {
    background-color: none;
    color: #F83346;
}

.badge-new:before {
    display: inline-block;
    content: 'NEW!';
}


/*#############################################################################*/
/*################################## FOOTER ###################################*/
/*#############################################################################*/

.footer-container {
    color: #fff;
    margin-top: 0;
    width: 100%;
    padding: 0;
}

.main-footer {
    width: 320px;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 8%;
    padding-right: 8%;
    margin: 0 auto;
}

.copyright-wrapper {
    background-color: #000;
    width: 100%;
    padding: 0;
    margin: 0;
}
.copyright-notice {
    width: 320px;
    padding: 30px 8% 30px 8%;
    color: #76797A;
    font-size: 16px;
    margin: 0 auto;
}

.copyright-notice div {
    padding-left: 0;
}

.footer-container .call-icon {
    color: #FFC200;
    font-size: 82px;
}

.footer-container h2 {
    color: #fff;
    font-size: 32px;
    font-weight: normal;
    line-height: 52px;
}

.footer-container h2 a {
    color: #fff;
}

.footer-container h2 a:hover, .footer-container h2 a:active, .footer-container h2 a:focus {
    color: #FFC200;
}

.footer-container hr {
    border-color: #76797A;
    margin-top: 60px;
    margin-bottom: 60px;
}

.footer-links div {
    padding: 3px 0;
}

.main-footer .row {
    margin-bottom: 20px;
    padding: 0 20px;
}

.footer-links a {
    color: #fff;
    font-size: 16px;
    border: none;
}

.footer-links a:hover, .footer-links a:active, .footer-links a:focus {
    color: #FFC200;
}

.to-top a {
    border: none;
    font-size: 18px;
    color: #fff;
}

.bottom-decal {
    background-image: url("../images/bottom-rule.png");
    height: 15px;
}

.choose-cta {
    width: 212px;
    height: 70px;
    padding-top: 20px;
    font-size: 22px;
}


/*#############################################################################*/
/*############################ ADAPTIVE CONTAINERS ############################*/
/*#############################################################################*/


/*###############################*/
/*####### MOBILE-DEFAULT #######*/
/*#############################*/



.fixed-regular, .fixed-narrow {
    width: 320px;
}


/*###############################*/
/*####### SMALL DEVICES ########*/
/*#############################*/
/* landscape phones, 576px and up */
@media only screen and (min-width: 576px) {



}


/*###############################*/
/*####### MEDIUM DEVICES #######*/
/*#############################*/
/* tablets, 768px and up */
@media only screen and (min-width: 768px) {
/*Main navigation*/
.navbar {
    width: 748px;
}


.navbar-inverse .navbar-text {
    display: block;
}

.brand-div {
    background-size: auto 100px;
    height: auto;
}

.navigation-cta div.navi-group, .navigation-cta div.cta-button {
    /*margin-left: 0;
    margin-right: 0;*/
    width: auto;
}

ul.navbar-nav {
    padding-bottom: 16px;
}

.navbar-nav li.nav-item {
    margin: 0 0 0 20px;
}

.navbar-nav li.show {
    padding: 10px 10px 15px 10px;
    margin: -10px -10px -15px -10px;
}

.navbar-inverse .navbar-nav .nav-link {
    font-size: 13px;
    text-align: center;
    padding: 0;
}

.products-dropdown {
    width: 749px;
    top: 42px;
    left: -224px;
}

.fixed-regular, .fixed-narrow {
    width: 748px;
}

.fixed-narrow {
    padding: 100px 50px;
}

    .main-footer, .copyright-notice{
        width: 748px;
        margin: 0 auto;
    }
}


/*###############################*/
/*####### LARGE DEVICES #######*/
/*#############################*/
/* desktops, 992px and up */
@media only screen and (min-width: 992px) {
/*Main navigation*/
.navbar {
    width: 972px;
}

.brand-div {
    background-size: 75%;
}

ul.navbar-nav {
    padding-bottom: 0;
}

.navbar-nav li.nav-item {
    margin: 0 0 0 20px;
}

.navbar-nav li.show {
    padding: 15px 20px 30px 20px;
    margin: -15px -20px -30px 10px;
}

.navbar-inverse .navbar-nav .nav-link {
    font-size: 13px;
}

.products-dropdown {
    width: 972px;
    top: 65px;
    left: -258px;
}

.fixed-regular, .fixed-narrow {
    width: 972px;
}

.fixed-regular {
    padding: 100px 0;
}

.fixed-narrow {
    padding: 100px 75px;
}

    div.product-box p {
        font-family: 'Teko', sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #000;
        text-transform: uppercase;
        position: absolute;
        top: 15px;
        left: 35px;
        margin: 0;
        z-index: 2;
    }
    .view-all p {
        font-family: 'Teko', sans-serif;
        font-size: 16px;
        position: absolute;
        top: 15px;
        left: 15px;
        text-transform: uppercase;
        color: #fff;
    }
    .view-all i {
        position: absolute;
        bottom: 15px;
        left: 15px;
        color: #fff;
    }
    .icon-keypoint i {
        font-size: 42px;
    }
    .icon-label {
        font-size: 14px;
    }
    .overlay-desc h3 {
        font-size: 18px;
    }
    .overlay-desc p {
        font-size: 12px;
    }

    .main-footer, .copyright-notice{
        width: 972px;
        margin: 0 auto;
    }
}


/*####################################*/
/*####### EXTRA LARGE DEVICES #######*/
/*##################################*/
/* large desktops, 1440px and up */
@media only screen and (min-width: 1440px) {
/*Main navigation*/
.navbar {
  width: 1420px;
}

.brand-div {
    background-size: 50%;
}

ul.navbar-nav {
    padding-bottom: 0;
}

.navbar-nav li.nav-item {
    margin: 0 20px;
}

.navbar-nav li.show {
    padding: 15px 20px 31px 20px;
    margin: -15px 0 -31px 0;
}

.navbar-inverse .navbar-nav .nav-link {
    font-size: 13px;
}

.products-dropdown {
    width: 1420px;
    top: 65px;
    left: -585px;
}

.fixed-regular, .fixed-narrow {
    width: 1420px;
}

.fixed-regular {
    padding: 100px 0;
}

.fixed-narrow {
    padding: 100px 100px;
}

    .nav-pills a.product-tabs {
        font-size: 24px;
    }

    .main-footer, .copyright-notice{
        width: 1420px;
        margin: 0 auto;
    }
}
