/*###############################*/
/*####### MOBILE-DEFAULT #######*/
/*#############################*/

.contact-details-column {
  margin-bottom: 35px;
}
.contact-item {
  a {
    border-bottom: none;
    font-weight: bold;
  }
  padding: 8px;
}

div.label {
  padding: 8px 8px 0px 8px;
}
div.input {
  padding: 0px 8px 8px 8px;
}

a.freephone {
  font-family: 'Teko', sans-serif;
  font-size: 22px;
  color: #ffc200;
}
a.freephone:hover {
  color: #000;
}

#map {
  width: 100%;
  height: 600px;
}

/*###############################*/
/*####### SMALL DEVICES ########*/
/*#############################*/
/* landscape phones, 576px and up */
/*###############################*/
/*####### MEDIUM DEVICES #######*/
/*#############################*/
/* tablets, 768px and up */
@media only screen and (min-width: 768px) {



}

/*###############################*/
/*####### LARGE DEVICES #######*/
/*#############################*/
/* desktops, 992px and up */
@media only screen and (min-width: 992px) {
  #map {
    width: 100%;
    height: 800px;
  }
}

/*####################################*/
/*####### EXTRA LARGE DEVICES #######*/
/*##################################*/
/* large desktops, 1440px and up */

@media only screen and (min-width: 1200px) {
  div.label {
    padding: 8px 8px 8px 8px;
  }
  div.input {
    padding: 8px 8px 8px 8px;
  }
}
