/*#############################################################################*/
/*############################ ADAPTIVE CONTAINERS ############################*/
/*#############################################################################*/

/*###############################*/
/*####### MOBILE-DEFAULT #######*/
/*#############################*/

/** Hero unit **/

.hero-container {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

.hero-row {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

.hero-main {
    padding: 0;
    overflow: hidden;
    z-index: 0;
}

.hero-content {
    width: 320px;
    margin: 0 auto;
    padding: 8% 8%;
    min-height: 511px;
    position: relative;
    z-index: 10;
}

.hero-content h1 {
    font-size: 90px;
    line-height: 0.75;
    margin-bottom: 0.5em;
    text-transform: lowercase;
}

.hero-content .lead {
    margin-bottom: 2em;
    max-width: 680px;
    color: #76797A;
    width: inherit;
}

.hero-menu-wrapper {
    background-color: #EBEBEB;
    z-index: 10;
}
.hero-menu {
    width: 320px;
    padding: 0 8%;
    margin: 0 auto;
    min-height: 63px;
    position: relative;
    z-index: 10;
}

.hero-menu p {
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-bottom: 0;
}

.hero-menu p span {
    padding: 0 10px;
}

.hero-menu p em {
    text-transform: lowercase;
    color: #76797A;
}

.hero-decal {
    opacity: 1;
    position: absolute;
    right: -40%;
    z-index: 0;
    top: 0;
    visibility: hidden;
}

a.hero-links {
    color: #000;
    border: 0;
}

a.hero-links:hover, a.hero-links:focus, a.hero-links:active {
    border-bottom: solid 1px #000;
}


/** Product section **/
div.div-product-tabs {
    padding: 0;
}

hr.product-tabs {
    margin: 0;
    border-bottom: solid 1px #eee;
}

li.product-tabs {
    margin: 0;
}

.nav-pills a.product-tabs {
    font-family: 'Teko', sans-serif;
    font-size: 24px;
    text-transform: capitalize;
    color: #555;
    background-color: none;
    border-bottom: none;
    border-radius: 0;
    padding: 5px 15px;
}

.nav-pills a.first {
    padding-left: 0;
}

.nav-pills a.product-tabs.active {
    background-color: #fff;
    color: #000;
    border-bottom: solid 3px #FFC200;
}

.nav-pills a.product-view-all {
    font-family: 'Teko', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFC200;
    border: none;
    padding: 10px 0 5px 15px;
    height: 52px;
}

div.product-tabs {
    padding-top: 0;
    overflow: hidden;
}

div.product-tabs div {
  height: inherit;
}

.product-heading-mobile {
    font-family: 'Teko', sans-serif;
    font-size: 24px;
    text-transform: capitalize;
    color: #555;
    margin: 20px 0 20px 0;
    text-align: center;
}

p.product-box {
    display: block;
    height: 120px;
    overflow: hidden;
    border: 0;
    margin-bottom: 10px;
    position: relative;
}

p.product-box span {
    font-family: 'Teko', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0.05em;
    position: absolute;
    top: 0;
    padding: 15px;
    left: 0;
    margin: 0;
    z-index: 2;
}

p.product-box a {
    border-bottom: none;
}

.view-all {
    background-color: #F83346;
    padding: 15px;
    -webkit-transition: background-color 0.4s;
    transition: background-color 0.4s;
}

.view-all:hover {
    background-color: #d72a3b;
}

p.product-box span.view-all-text {
    font-family: 'Teko', sans-serif;
    font-size: 18px;
    position: absolute;
    text-transform: uppercase;
    color: #fff;
}

.view-all i {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #fff;
}

img.product-tabs {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transition: transform 2s, opacity 0.4s;
    -webkit-transition: opacity 0.4s, -webkit-transform 2s;
    transition: opacity 0.4s, -webkit-transform 2s;
    transition: transform 2s, opacity 0.4s;
    transition: transform 2s, opacity 0.4s, -webkit-transform 2s;
}

img.product-tabs:hover {
    opacity: .5;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}


/** sub page links **/

div.subpage-links {
    padding: 0;
}

nav.subpage-links a {
    padding: 25px 25px 25px 10%;
    border-bottom: solid 1px #eee;
    font-family: 'Teko', sans-serif;
    font-size: 24px;
    text-transform: capitalize;
    color: #000;
}

nav.subpage-links a:hover, nav.subpage-links a:focus, nav.subpage-links a:active {
    background-color: #F4F4F4;
}

nav.subpage-links i {
    padding: 0 20px;
    color: #FFC200;
    font-size: 32px;
    position: relative;
    top: 10px;
}

.nav-item.product-tabs {
    margin-bottom: -2px;
}


/** Feature Section **/

.sec-feature {

}

div.sec-feature-img-div {
    background-image: url("../images/feature-picture.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    min-height: 300px;
}

.sec-feature-img-div img {
    width: 100%;
    height: auto;
}

.sec-feature-txt-div {
    padding: 5% 5%;
    background-color: #FFC200;
    color: #fff;
}

.sec-feature-txt-div h1 {
    color: #fff;
}

.sec-feature-txt-div p {
    padding: 25px 0;
}

a.sec-feature-btn {
    border: solid 1px #000;
    border-radius: 0;
    color: #000;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 24px;
    background-color: #FFC200;
    -webkit-transition: color 0.4s, border 0.4s;
    transition: color 0.4s, border 0.4s;
}

a.sec-feature-btn:hover {
    color: #fff;
    border: solid 1px #fff;
    background-color: #FFC200;
}


/** Testimonials section **/

.sec-tools {

}

.sec-tools-div{
    padding-left: 1%;
    padding-right: 5%;
}
.testimonial-div {
    padding-left: 5%;
    padding-right: 1%;
}

.sec-tools-div hr {
    border: solid 4px #FFC200;
    width: 33%;
    margin-left: 0;
}

.testimonial-div hr {
    border: solid 4px #F7F7F7;
    margin-top: 0;
}

.testimonial-txt {
    font-size: 14px;
    color: #000;
    text-align: left;
}

.testimonial-name {
    font-family: 'Teko', sans-serif;
    font-size: 16px;
    margin-bottom: 0;
    color: #000;
    text-align: left;
}

.link-description {
    font-size: 12px;
    font-weight: bold;
}

.testimonial-page-bullet {
    margin: 0;
}

.testimonial-page-bullet a {
    font-size: 42px;
    height: 50px;
    padding: 3px;
    border: 0;
    color: #F7F7F7;
}

.testimonial-page-bullet a.active {
    font-size: 42px;
    height: 50px;
    padding: 3px;
    border: 0;
    color: #FFC200;
}

.testimonial-div .carousel, .testimonial-div .carousel-inner {
    width: 100%;
    height: 100%;
    min-height: 450px;
}

.testimonial-div .carousel-control-prev, .testimonial-div .carousel-control-next {
    border-bottom: none !important;
}
.testimonial-div .carousel-caption {
    top: 20px;
    left: 0;
    width: 100%;
    padding: 0;
}
.testimonial-div .carousel-indicators {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.testimonial-div .carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 90px;
    max-width: 12px;
    background-color: rgb(247, 247, 247);
}
.testimonial-div .carousel-indicators li.active {
    background-color: rgb(255, 194, 0);
    border: solid rgb(247, 247, 247) 3px;
}


/** Keypoint Section **/

/*.sec-keypoints {

}*/

div.keypoints-outer-box {
    padding: 8px;
    /*max-width: 350px;*/
}

div.keypoints-inner-box {
    border: solid 2px #FFC200;
    position: relative;
    padding: 10px 10px;
}

div.keypoints-inner-box::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}


/* box animation */

div.overlay-desc {
    position: absolute;
    top: 9px;
    left: 9px;
    width: 252px;
    height: 252px;
    padding: 10%;
    text-align: center;
    background-color: #FFC200;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.overlay-desc h3 {
    color: #000;
    font-size: 28px;
    margin-bottom: 10px;
}

div.overlay-desc p {
    color: #FFF;
}

div.overlay-desc a {
    color: inherit;
    border: none;
}


/* box animation on hover */

div.keypoints-outer-box:hover div.overlay-desc {
    opacity: 1;
}

.icon-keypoint {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 35%;
    left: 38%;
    color: #FFC200;
    font-size: 64px;
}

.icon-label {
    bottom: 0;
    color: #303030;
    font-family: 'Teko', sans-serif;
    font-size: 18px;
    font-weight: bold;
    left: 0;
    margin: 0;
    padding: 8px 15px;
    position: absolute;
    text-align: left;
    width: 100%;
}


/** Guarantee Section **/

.sec-guarantee {

}

.sec-guarantee-row {
    margin-bottom: 60px;
}

.sec-guarantee h1 {
    font-size: 64px;
}

.guarantee-text {
    font-size: 18px;
}

.truck-label {
    font-family: 'Teko', sans-serif;
    color: #303030;
    text-transform: uppercase;
    font-size: 18px;
    padding-top: 15px;
}


/** Choose IBS section **/

.sec-choose {
    color: #fff;
    background-image: url("../images/geomap.png");
    background-repeat: no-repeat;
    background-position: 95% 25%;
}

.sec-choose h1 {
    font-size: 72px;
    color: #fff;
}

hr.one-third-rule {
    margin-left: 0;
    border: solid 4px #FFC200;
    width: 33%;
    margin-top: 20px;
    margin-bottom: 45px;
}

.choose-bullets {
    display: inline-block;
    font-size: 14px;
    margin-bottom: 14px;
    margin-left: 8px;
    vertical-align: middle;
}

.choose-div-cta {
    padding-right: 0;
}

.choose-div-free {
    padding-left: 0;
}

.choose-cta {
    width: 212px;
    height: 70px;
    padding-top: 20px;
    font-size: 22px;
}


/** Blog **/

.sec-blog {

}

.sec-blog div {}

.sec-blog h1 {
    font-size: 64px;
}

.sec-blog h3 {
    font-size: 24px;
    text-transform: uppercase;
    color: #76797A;
}


/* mobile - default */


/*###############################*/
/*####### SMALL DEVICES ########*/
/*#############################*/
/* landscape phones, 576px and up */

@media only screen and (min-width: 576px) {}


/*###############################*/
/*####### MEDIUM DEVICES #######*/
/*#############################*/
/* tablets, 768px and up */

@media only screen and (min-width: 768px) {
    .hero-main {
        min-height: 574px;
    }
    .hero-content {
        width: 748px;
        margin: 0 auto;
    }
    .hero-content h1 {
        font-size: 120px;
    }
    .hero-content .lead {
        width: 450px;
    }
    .hero-decal {
        visibility: visible;
        top: 0;
        right: -200px;
        z-index: -1;
    }
    .hero-menu {
        width: 748px;
    }

    .icon-label {
        font-size: 18px;
    }
    div.div-product-tabs {
        padding: 0;
    }
    div.product-tabs {
        padding-top: 20px;
        height: 195px;
    }

    div.product-tabs div {
      height: 175px;
    }
    div.subpage-links hr.product-tabs {
        margin-top: 20px;
    }
    p.product-box {
        height: 100%;
    }
    .icon-keypoint {
        font-size: 64px;
    }
    div.overlay-desc {
        top: 9px;
        left: 9px;
        width: 306px;
        height: 306px;
        padding: 10%;
    }
    div.choose-div-cta::after {
        display: inline-block;
        content: "";
        width: 145px;
        height: 71px;
        background: url("../images/its-free.png") 0px 10px no-repeat;
        background-size: contain;
        position: absolute;
    }
    .choose-bullets {
        font-size: 16px;
        margin-left: 20px;
    }
    .testimonial-txt {
        font-size: 17px;
    }
    .sec-guarantee-row {
        margin-bottom: 0;
    }
}


/*###############################*/
/*####### LARGE DEVICES #######*/
/*#############################*/
/* desktops, 992px and up */

@media only screen and (min-width: 992px) {
    .brand-div {
        background-size: 75%;
    }
    .hero-decal {
        top: 0px;
        right: -200px;
        z-index: 10;
        height: 109%
    }
    .hero-content {
        width: 972px;
        margin: 0 auto;
    }
    .hero-content .lead {
        width: inherit;
    }
    .hero-menu {
        width: 972px;
    }
    div.div-product-tabs {
        padding-right: 70px;
    }
    div.product-tabs {
        height: 169px;
    }
    div.product-tabs div {
      height: 149px;
    }
    .nav-pills a.product-tabs {
        font-size: 20px;
        text-transform: capitalize;
        color: #555;
        background-color: none;
        border-bottom: none;
        border-radius: 0;
        height: 52px;
    }
    .nav-pills a.first {
        padding-left: 0;
    }
    .view-all i {
        position: absolute;
        bottom: 15px;
        left: 15px;
        color: #fff;
    }
    div.subpage-links hr.product-tabs {
        margin-top: 50px;
    }
    .icon-keypoint {
        font-size: 42px;
    }
    .icon-label {
        font-size: 14px;
        padding: 2px 8px;
    }
    .overlay-desc h3 {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .overlay-desc p {
        font-size: 11px;
        line-height: 1.5;
    }
    div.overlay-desc {
        top: 9px;
        left: 9px;
        width: 188px;
        height: 188px;
        padding: 10%;
    }
    div.choose-div-cta::after {
        width: 211px;
        background: url("../images/its-free.png") 0px 0px no-repeat;
    }
    .choose-bullets {
        font-size: 22px;
        margin-left: 35px;
    }
}


/*####################################*/
/*####### EXTRA LARGE DEVICES #######*/
/*##################################*/
/* large desktops, 1440px and up */

@media only screen and (min-width: 1440px) {
    .brand-div {
        background-size: 50%;
    }
    .hero-decal {
        top: 0;
        right: 0;
        z-index: 20;
        height: 109%
    }
    .hero-content {
        width: 1420px;
        margin: 0 auto;
    }
    .hero-menu {
        width: 1420px;
    }
    div.product-tabs {
        height: 250px;
    }
    div.product-tabs div {
      height: 230px;
    }
    .nav-pills a.product-tabs {
        font-size: 24px;
    }
    .nav-pills a.product-view-all {
        padding-top: 15px;
    }
    .view-all i {
        bottom: 15px;
        left: 15px;
    }
    div.subpage-links hr {
        margin-top: 51px;
    }

    .icon-keypoint {
        font-size: 64px;
    }
    .icon-label {
        font-size: 18px;
        padding: 8px 15px;
        text-align: left;
    }
    .overlay-desc h3 {
        font-size: 28px;
    }
    .overlay-desc p {
        font-size: 14px;
    }
    div.overlay-desc {
        /*top: 9px;
        left: 9px;
        width: 287px;
        height: 287px;*/
        width: calc(100% - 18px);
        height: calc(100% - 18px);
        padding: 10%;
    }

}
