/*###############################*/
/*####### MOBILE-DEFAULT #######*/
/*#############################*/

.reseller-tools {
  margin: 0;
  padding: 0;
}
.img-div{
  padding: 0;
}

.txt-div {
  padding: 8%;
  margin-bottom: 20px;
}

img.tool-photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.template-icons {
  margin-right: 15px;
  font-size: 28px;
}


/*###############################*/
/*####### SMALL DEVICES ########*/
/*#############################*/
/* landscape phones, 576px and up */
@media only screen and (min-width: 576px) {



}


/*###############################*/
/*####### MEDIUM DEVICES #######*/
/*#############################*/
/* tablets, 768px and up */
@media only screen and (min-width: 768px) {

.txt-div {
  margin-bottom: 50px;
}

}


/*###############################*/
/*####### LARGE DEVICES #######*/
/*#############################*/
/* desktops, 992px and up */
@media only screen and (min-width: 992px) {

.txt-div {
  margin-bottom: 0;
}

}


/*####################################*/
/*####### EXTRA LARGE DEVICES #######*/
/*##################################*/
/* large desktops, 1440px and up */
@media only screen and (min-width: 1440px) {



}
