/*#############################################################################*/
/*############################ ADAPTIVE CONTAINERS ############################*/
/*#############################################################################*/


/*###############################*/
/*####### MOBILE-DEFAULT #######*/
/*#############################*/

.ordering {
  margin: 4% 0;
}

.ordering div {
  margin-bottom: 30px;
}

.mother-div, .child1-div, .child2-div {
  padding: 0;
  margin: 0;
}

.child1-div {
  width: 100%;
  /*max-width: 1220px;*/
}

.myscrollspy {
  display: none;
}

.keypoints {
  position: relative;
  left: 0;
  width: 294px;
  margin: 80px 0;
}

.icon-div {
  position: relative;
  height: 43.56px;
  width: 43.56px;
}

.icon-div p {
  position: relative;
  top: 25%;
  text-align: center;
}

.icon-div i {
  color: #FFF;
  font-size: 23px;
}

.keypoints .content {
  padding: 20px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
}

.sec-cta {
  padding: 50px 0;
}

.myscrollspy {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  margin-left: auto;
  margin-right: 50px;
  margin-top: 100px;
  margin-bottom: -460px;
  width: 180px;
}

ul.myscrollspy a{
  border-bottom: none;
  font-family: 'Teko', sans-serif;
  font-size: 14px;
  text-align: right;
  padding: 0;
  margin: 5px 0;
}

ul.myscrollspy a.active {
  font-weight: bold;
}

ul.myscrollspy a.active span.radiospy{
  color: #FFC200;
}

span.radiospy {
  display: inline-flex;
  position: relative;
  left: 10px;
  border-radius: 90px;
  border: solid #CCC 1px;
  background-color: #EEE;
  color: #EEE;
  width: 23px;
  height: 23px;
  margin: 0 0;
}

span.radiospy i{
  font-size: 15px;
  text-align: center;
  display:inline-flex;
  align-self: center;
  position: relative;
  left: 4px;
}

div.content h2 {
  font-size: 25px;
}

/*###############################*/
/*####### SMALL DEVICES ########*/
/*#############################*/
/* landscape phones, 576px and up */
@media only screen and (min-width: 576px) {



}


/*###############################*/
/*####### MEDIUM DEVICES #######*/
/*#############################*/
/* tablets, 768px and up */
@media only screen and (min-width: 768px) {

  .ordering div {
    margin-bottom: 0;
  }

  .keypoints {
    width: calc(100% - 175px);
  }

  .icon-div {
    top: 10px;
    height: 66px;
    width: 66px;
  }

  .icon-div i {
    font-size: 35px;
  }

  .keypoints .content {
    padding: 55px;
  }

  .child1-div {
    /*max-width: 525px;*/
  }

  .myscrollspy {
    display: flex;
  }

  div.content h2 {
    font-size: 48px;
  }

}


/*###############################*/
/*####### LARGE DEVICES #######*/
/*#############################*/
/* desktops, 992px and up */
@media only screen and (min-width: 992px) {

  .keypoints {
    width: calc(100% - 150px);
  }

  .icon-div {
    top: 15px;
    height: 99px;
    width: 99px;
  }

  .icon-div i {
    font-size: 52.5px;
  }

  .child1-div {
    /*max-width: 750px;*/
  }

}


/*####################################*/
/*####### EXTRA LARGE DEVICES #######*/
/*##################################*/
/* large desktops, 1440px and up */
@media only screen and (min-width: 1440px) {

  .keypoints {
    width: calc(100% - 250px);
  }

  .icon-div {
    top: 20px;
    height: 132px;
    width: 132px;
  }

  .icon-div i {
    font-size: 70px;
  }

  .child1-div {
    /*max-width: 1200px;*/
  }

}
